.not-found--page
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.not-found--page .error-image
{
    width: 220px;
    height: 220px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 40px;
}
.not-found--page .error-image img
{
    width: 100%;
}
.not-found--page h2
{
    font-size: var(--font-size-36px);
    color: var(--dark-clr);
    margin-bottom: 20px;
}
.not-found--page p
{
    color: var(--dark-clr);
    font-size: var(--font-size-24px);
    width: 70%;
    margin: auto;
    align-items: center;
}
@media screen and (max-width: 450px)
{
    .not-found--page p
    {
        font-size: var(--font-size-18px);
        width: 90%;
    }
    .not-found--page .error-image
    {
        width: 250px;
        height: 250px;
        margin-bottom: 20px;
    }
}