header
{
    width: 100%;
    display: flex;
    justify-content: 
    space-between;
    position: absolute;
    top: 0;
    align-items: center;
    padding: 62px 102px 0 102px;
}
header nav
{
    display: flex;
    gap: 32px;
}
header h1 a
{
    font-size: var(--font-size-36px);
    color: var(--dark-clr);
}
header nav a
{
    color: var(--dark-clr);
    font-size: var(--font-size-24px);
    position: relative;
}
header nav a.active::after
{
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background-color: var(--dark-clr);
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}
header h1
{
    color: var(--dark-clr);
    font-size: var(--font-size-36px);
}
header div.icons
{
    display: flex;
    gap: 30px;
}
header .cart
{
    position: relative;
}
header .cart .quantity
{
    font-size: var(--font-size-12px);
    color: var(--light-brown-clr);
    position: absolute;
    background-color: var(--brown-clr);
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}
header.desktop
{
    display: none;
}
header.mobile
{
    position: relative;
    bottom: 0;
    background-color: red;
}
header.mobile nav
{
    position: absolute;
    top: 80px;
    gap: 20px;
    left: 0;
    right: 0;
    padding: 20px 0;
    background-color: var(--light-brown-clr);
    box-shadow: 0 0 10px #00000075;
    text-align: center;
    flex-direction: column;
}
header.mobile nav a
{
    font-size: var(--font-size-18px);
}
header.mobile .bar-container
{
    display: inline-block;
    cursor: pointer;
}
.bar1,
.bar2,
.bar3
{
    width: 35px;
    height: 3px;
    background-color: var(--dark-clr);
    margin: 6px 0;
    border-radius: 40px;
    transition: 0.4s;
}
.bar2
{
    width: 20px;
    margin-left: auto;
}
.change .bar1
{
    transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2
{
    opacity: 0;
}
.change .bar3
{
    transform: translate(0, -11px) rotate(45deg);
}
@media screen and (max-width: 950px)
{
    header
    {
        padding: 32px 32px 0 32px;
    }
}
@media screen and (max-width: 750px)
{
    header
    {
        padding: 32px 12px 0 12px;
    }
}
@media screen and (max-width: 680px)
{
    header.desktop
    {
        display: none;
    }
}