.customer--component
{
    padding: 0 85px 0 100px;
    width: 100%;
    margin-top: 125px;
}
.customer--component h2
{
    font-size: var(--font-size-24px);
    color: var(--dark-clr);
    border-bottom: 2px solid var(--brown-clr);
    width: fit-content;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-left: auto;
}
.customer--component h2 span
{
    font-size: var(--font-size-36px);
}
.customer--component .customer-header p
{
    color: var(--dark-clr);
    font-size: var(--font-size-18px);
    width: fit-content;
    margin-left: auto;
}
.customer--component .customer-header
{
    margin-bottom: 14px;
}