.layout--component
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 85px 0 100px;
    animation: layoutAnim 1s ease-in-out;
}
.layout--component .text-container
{
    margin-top: 258px;
    width: 50%;
}
.layout--component h1
{
    font-size: var(--font-size-96px);
    margin-bottom: 40px;
    color: var(--dark-clr);
    font-family: Wilkysta, serif;
}
.layout--component p
{
    color: var(--dark-clr);
    margin-bottom: 100px;
}
.layout--component button
{
    background-color: var(--brown-clr);
    width: 222px;
    height: 60px;
    border: 2px solid var(--brown-clr);
    color: var(--white-clr);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
    font-size: var(--font-size-24px);
}
.layout--component button:hover
{
    background-color: transparent;
    color: var(--brown-clr);
}
.layout--component button:hover svg > path
{
    stroke: var(--brown-clr);
}
.layout--component img
{
    z-index: -2;
}
@keyframes layoutAnim
{
    from
    {
        padding: 0 0px 0 0px;
        opacity: 0;
    }
    to
    {
        padding: 0 85px 0 100px;
        opacity: 1;
    }
}
@media screen and (max-width: 1500px)
{
    .layout--component
    {
        padding: 0 10px 0 10px;
        animation: none;
        margin-bottom: 146px;
    }
}
@media screen and (max-width: 900px)
{
    .layout--component .text-container
    {
        margin-top: 100px;
        width: 100%;
    }
}
@media screen and (max-width: 650px)
{
    .layout--component img
    {
        display: none;
    }
    .layout--component h1
    {
        font-size: 60px;
        margin-bottom: 40px;
        color: var(--dark-clr);
    }
}