*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  border: none;
  outline: none;
  transition: 0.3s;
}
:root
{
  --white-clr: #fff;
  --black-clr: #000;
  --dark-clr: #2F2F2F;
  --brown-clr: #754F23;
  --light-brown-clr: #DCD7D3;
  --font-size-36px: 36px;
  --font-size-12px: 12px;
  --font-size-24px: 24px;
  --font-size-18px: 18px;
  --font-size-96px: 96px;
}